<footer class="footer py-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <h5>Outfit360</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/">Inicio</a></li>
            <li><a routerLink="/productos">Productos</a></li>
            <li><a routerLink="/contacto">Contáctanos</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Contacto</h5>
          <ul class="list-unstyled">
            <li><i class="bi bi-telephone"></i> +1 (555) 123-4567</li>
            <li><i class="bi bi-envelope"></i> info&#64;Outfit360.com</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Social</h5>
          <ul class="list-unstyled d-flex">
            <li class="mr-3"><a routerLink="/"><i class="bi bi-facebook"></i></a></li>
            <li class="mr-3"><a routerLink="/"><i class="bi bi-twitter"></i></a></li>
            <li><a routerLink="/"><i class="bi bi-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Legal</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/">Políticas de privacidad</a></li>
            <li><a routerLink="/">Términos de servicio</a></li>
            <li><a routerLink="/">Política de cookies</a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 text-center">
          <p>© 2024 Outfit360. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
  